@page "/Schedule"
@using Bowling.DAL  
<h3>Schedule</h3>

<label>Выберите время:</label>
<input type="time" @bind="Time"/>
<label>Выберите дорожку:</label>
<input type="text" @bind="Booking"/>
<label>Запомни меня</label>
<input type="checkbox" @bind="RememberMe"/>
<input type="date" @bind="SelectedDate"/>
<button @onclick="Auth">Сохранить</button>
<p>Вы выбрали: @SelectedPlace</p>
<select @bind="SelectedPlace">
    <option value="Candlepin">Candlepin</option>
    <option value="Syntheticvarnish">Synthetic Varnish</option>
    <option value="Classic"></option>Classic
    <option value="Children’s"></option>Children’s
</select>

@if (!IsAuth)
{
    <div class="alert alert-danger" role="alert">
        Что-то не так, попробуйте еще раз
    </div>
}
else
{
    <div class="alert alert-success" role="alert">
        Вы забронировали дорожку, перейдите к оплате
    </div>
}


@code {
    public string Time { get; set; } = string.Empty;
    public string Booking { get; set; } = string.Empty;
    public bool RememberMe { get; set; }
    public DateTime SelectedDate { get; set; } = DateTime.Now;
    public string SelectedPlace { get; set; } = string.Empty;
    public bool IsAuth { get; set; } = false;

    private void Auth()
    {

        IsAuth = true;


    }




}